h1
{
	color: red;
}
.especial
{
	background: aqua;
	color:gray;
}
nav
{
	position: fixed;
	width: 30%;
	background: #fefefe;
	border:1px solid gray;
}
nav li 
{
	width: 100%;
	border-bottom: 1px solid black;
}
.derecha
{
	background: red;
	color: yellow;
}