img {
	max-width: 100%;
}
h1 {
	color:red;
}

.image {
	max-width: 400px;
}

strong {
	background-color: olive;
	color: white;
	display: block;
	padding: .5em 1em;
}

.especial {
	background-color: grey;
}

.villanos {
	background-color: black;
	color: white;
}

nav {
	position: fixed;
	width: 30%;
	background-color: #fefefe;
	border: 1px solid grey;
}

nav li {
	width: 100%;
	border-bottom: 1px solid black;
}