/*RESET*/
body, footer {
	margin: 0;
}


/*ESTILOS*/
h1 {
	color:olive;
}

.valor{
	font-size: 1.2em;
	padding-left: 1em;
	color:white;
	background-color: #940000;
}
.gris{
	background-color: #333;
}
footer {
	width: 100%;
	background-color: #e67e22;
	padding-left: 1rem;
	padding-top: .2rem;
}
footer p {
	padding-bottom: .5rem;
}
.sidebar {
	width: 40%;
	float:right;
	background-color: #f1f1f1;
}